<div class="contact-panel" id="broker-panel">
    <div class="contact-panel-inner">
        <div class="contact-panel-left">
            <p>
                Contact broker to learn more and get special offers.
            </p>
        </div>
        <div class="contact-panel-right">
            @@include('components/ui/button/button.html', {"class": "gray sm bookmark", "text": "Save", "src": "/img/bookmark.svg"})
            @@include('components/ui/button/button.html', {"class": "orange sm request-quote", "text": "Contact broker", "dataModal": "broker-modal"})
        </div>
    </div>
</div>