@use '../vars/vars' as v;
@use '../mixins/global' as g;

.swiper-prev, .swiper-next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 8px;
	border: 0;
	border-radius: v.$br8;
	background-color: v.$c-grey-90;
	transition: background-color ease-in-out v.$tr, scale ease-in-out v.$tr;
	cursor: pointer;

	@media(min-width: v.$md) {
		width: 52px;
		height: 52px;
		padding: 13px 14px;
	}

	img {
		width: 16px;
		height: 16px;
		aspect-ratio: 1;

		@media(min-width: v.$md) {
			width: 24px;
			height: 24px;
		}
	}

	@include g.hover {
		background-color: v.$c-grey-95;
	}

	&:active {
		background-color: v.$c-grey-97;
		scale: 0.95;
	}

	&[disabled] {
		opacity: v.$op;
		cursor: not-allowed;

		&:active {
			scale: 1;
		}
	}
}

.swiper-next {
	img {
		transform: scaleX(-1);
	}
}