@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as t;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;
@use '../../../../scss/mixins/global' as g;

.results-filters-items {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 10px;

	.result-filter {
		@extend %button;

		min-width: 100px;
		position: relative;
		flex-direction: column;
		gap: 4px;
		padding: 6px 8px;
		background-color: v.$c-white;
		border-radius: v.$br8;

		@media(min-width: v.$sm) {
			min-width: 160px;

		}

		&.color {
			background-color: v.$c-sand;
		}

		&:focus-visible {
			background-color: v.$c-grey-95;
			outline: 2px solid v.$c-grey;
		}

		&-top {
			display: flex;
			justify-content: flex-start;
			width: 100%;

			.result-title {
				color: v.$c-black;

				@include p.t-text(true);
			}
		}

		&-bottom {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			.result-value {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: v.$c-black;

				@include p.t-text;
			}
		}
	}

	.result-dropdown {
		width: 100%;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 20;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: v.$br8;
		border-bottom-right-radius: v.$br8;
		background-color: v.$c-grey-97;
		overflow: hidden;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

		&[hidden] {
			display: none;
		}
	}

	.result-option {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		padding: 12px 8px;
		border: none;
		background: transparent;
		cursor: pointer;
		color: v.$c-grey;
		text-align: left;

		@include p.t-text;

		@include g.hover {
			background-color: v.$c-grey-95;
		}

		&:focus-visible {
			background-color: v.$c-grey-95;
		}

		.result-option-check {
			width: 16px;
			height: 16px;
			opacity: 0;
			transition: opacity v.$tr;
		}

		&.is-selected {
			color: v.$c-black;
			.result-option-check {
				opacity: 1;
			}
		}
	}
}