@forward '../../html/components/cards/property-card/property-card';
@forward '../../html/components/common/footer/footer';
@forward '../../html/components/common/header/header';
@forward '../../html/components/titles/top-title';
@forward '../../html/components/ui/button/button';
@forward '../../html/components/ui/search-tabs/search-tabs';
@forward '../../html/sections/index/about/about';
@forward '../../html/sections/index/categories/categories';
@forward '../../html/sections/index/hero/hero';
@forward '../../html/sections/index/properties/properties';
