// Colors.
$c-white: #FFF;
$c-black: #111;
$c-orange: #FFA41B;
$c-orange-dark: #E28700;
$c-red: #FF4C00;
$c-grey: #464646;
$c-sand: #F7E7C9;
$c-sand-light: #FEF5E5;
$c-grey-97: #F7F7F7;
$c-grey-95: #F2F2F2;
$c-grey-90: #E6E6E6;
$c-text-grey: #848484;
$c-dark-grey: #302F2D;
$c-yellow: #FAAF3F;
$c-error: #FFEEEA;

//Shadows
$shadow-1: 0px 1px 4px 0px rgb(24 26 32 / 7%);
