// Font families.
$ff-title: 'Exo 2', sans-serif;
$ff: 'Inter', sans-serif;

// Font sizes.
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$lh: 1.5;
$lh-title: 1.3;

// Font weights.
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
