<div class="building-card">
    <div class="building-card-header">
        <div class="swiper single-swiper building-card-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://distress.ams3.digitaloceanspaces.com/uploads/2026/03/ccGPUT0EY7r8697OkF84IkSMYixRuRsMVj4V8tQO.jpg"
                         alt="Building">
                </div>
                <div class="swiper-slide">
                    <img src="https://distress.ams3.digitaloceanspaces.com/uploads/2026/03/N2QFRU1Imv6bUYy29VlKZpiv49na4n5qQme8Cx4K.jpg"
                         alt="Building">
                </div>
            </div>
            <button class="swiper-prev sm"><img src="/img/swiper-arr.svg" width="16" height="16" alt="Prev"></button>
            <button class="swiper-next sm"><img src="/img/swiper-arr.svg" width="16" height="16" alt="Next"></button>
        </div>

        <div class="building-card-info">
            <div class="building-card-desc">
                <h3>Sobha One</h3>
                <p>Ras Al Khor, Dubai</p>
            </div>
            <div class="building-card-meta">
                <span class="building-card-badge">24 apartments for sale</span>
            </div>
            <div class="building-card-price">AED 1.45M – 4.90M</div>
        </div>
    </div>
    <div class="building-card-bottom">
        <div class="building-card-units">
            @@include('components/cards/unit/unit.html')
            @@include('components/cards/unit/unit.html')
            @@include('components/cards/unit/unit.html')
            @@include('components/cards/unit/unit.html')
        </div>
    </div>
</div>
