@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/labels' as l;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.dropdown {
	&.info-dropdown {
		background-color: v.$c-grey-97;
		padding: 8px;
	}

	&.opened {
		.dropdown-arrow {
			transform: rotate(180deg);
		}
	}

	&-button {
		@extend %button;

		justify-content: space-between;
		width: 100% ;
		gap: 4px;

		.dropdown-arrow {
			@extend %button;

			width: 16px;
			height: 16px;
		}

		.dropdown-row {
			display: flex;
			align-items: center;
			flex-grow: 1;

			.button-row-item {
				display: flex;
				align-items: center;
				gap: 4px;

				&:first-child {
					width: 14%;
				}

				&:nth-child(2) {
					width: 14%;
				}

				&:nth-child(3) {
					width: 14%;
				}

				&:last-child {
					width: 52%;
				}
			}
		}
	}

	.button-row-text {
		color: v.$c-black;

		@include t.t-text;
	}

	.button-row-price {
		color: v.$c-black;

		@include t.t-text;

		em {
			font-style: normal;
			font-weight: v.$fw-700;
		}
	}

	.button-row-ico {
		width: 16px;
		height: 16px;
		aspect-ratio: 1;
	}

	.dropdown-content {
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: height ease v.$tr;

		&-row {
			width: 100%;
			display: flex;
		}

		&-col {
			display: flex;
			align-items: center;
			gap: 4px;

			&:first-child {
				width: 14%;
			}

			&:nth-child(2) {
				width: 14%;
			}

			&:nth-child(3) {
				width: 14%;
			}

			&:last-child {
				width: 52%;
			}
		}
	}

	.dropdown-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		padding: 8px 8px 8px 20px;
	}

	.image-col {
		img {
			max-width: 200px;
		}
	}
}