@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.map {
	position: relative;
	width: 100%;
	overflow: hidden;

	.map-container {
		display: block;
		width: 100%;
		height: 600px;
		border: 0;

		@media(min-width: v.$lg) {
			height: 800px;
		}
	}

	&.full-width {
		width: 100vw;
		height: 100%;
		margin-left: calc(50% - 50vw);
	}
}

.map-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding: 24px 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: v.$c-white;
	box-shadow: v.$shadow-1;
	transition: transform cubic-bezier(0.4, 0, 0.2, 1) v.$tr;

	@media(min-width: v.$md) {
		max-width: 414px;
	}

	&.is-hidden {
		transform: translateX(-100%);
	}

	.sidebar-close {
		margin: 0 0 24px auto;

		@extend %button;

		@include g.hover{
			opacity: v.$op;
		}
	}

	&-content {
		width: 100%;
		overflow-y: auto;

		@include g.hide-scroll;
	}
}

.map-marker {
	width: 52px;
	height: 52px;
	background-color: v.$c-black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: v.$shadow-1;
	transition: transform ease v.$tr, background-color v.$tr;
	z-index: 100;

	span {
		color: v.$c-white;

		@include h.t-title-bold;
	}

	@include g.hover{
		transform: scale(1.1);
		background-color: v.$c-sand;

		span {
			color: v.$c-black;
		}
	}
}

.a-link {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 16px;
	background-color: v.$c-white;
}