
@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/text' as t;

.map {
	width: 100%;

	iframe {
		display: block;
		width: 100%;
		height: 424px;
		border: 0;

		@media(min-width: v.$lg) {
			height: 574px;
		}
	}
}

