@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/labels' as l;
@use '../../../../scss/mixins/typography/text' as t;

.large-card {
	width: 100%;

	&-inner {
		display: flex;
		align-items: stretch;
	}

	&-left {
		display: flex;
		width: 100%;
		max-width: 525px;
	}

	&-images {
		width: 100%;
		height: 240px;
		display: flex;
		align-items: center;
		gap: 2px;

		&-left {
			width: 71%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-top-left-radius: v.$br8;
				border-bottom-left-radius: v.$br8;
			}
		}

		&-right {
			width: 29%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2px;

			img {
				width: 100%;
				height: 50%;
				object-fit: cover;
			}
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;
		padding: 16px 16px 16px 32px;
		border: 1px solid v.$c-grey-95;
		border-left: 0;
		border-radius: v.$br8;
	}

	&-top {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 24px;
		margin-bottom: auto;

		&-left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;

			.large-card-dev {
				color: v.$c-black;

				@include l.t-label;
			}
		}

		&-title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.subtext {
				color: v.$c-orange;

				@include t.t-smallest(true);
			}

			.large-card-price {
				color: v.$c-orange;

				@include h.t-title-bold;
			}
		}

		&-right {
			display: flex;
		}

		.large-card-labels {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;
		}

		.large-card-label {
			color: v.$c-white;
			padding: 4px 5px;
			border-top-right-radius: v.$br8;
			border-bottom-left-radius: v.$br8;

			@include t.t-smallest;

			&.orange {
				background-color: v.$c-orange;
			}

			&.black {
				background-color: v.$c-black;
			}

			&.red {
				background-color: v.$c-red;
			}
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		&-top {
			width: 100%;
		}

		&-bottom {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				color: v.$c-black;

				@include t.t-text;
			}

			.view-details {
				color: v.$c-black;
				text-decoration: underline;

				@include l.t-label;
			}
		}

		&-items {
			display: flex;
			align-items: center;
			gap: 24px;

			span {
				display: flex;
				align-items: center;
				gap: 4px;
				color: v.$c-black;

				@include t.t-text;
			}
		}
	}
}