<div class="search-tabs" data-search-tabs>
    <div class="tabs-buttons" role="tablist">
        <button type="button" class="button is-active" role="tab" id="search-tabs-tab-all" aria-controls="search-tabs-panel" aria-selected="true" tabindex="0" data-search-tab data-type="all" data-available="2026" data-price="8,000,000">All</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-apartments" aria-controls="search-tabs-panel" aria-selected="false" tabindex="-1" data-search-tab data-type="apartments" data-available="2025" data-price="6,500,000">Apartments</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-houses" aria-controls="search-tabs-panel" aria-selected="false" tabindex="-1" data-search-tab data-type="houses" data-available="2024" data-price="12,000,000">Houses</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-villas" aria-controls="search-tabs-panel" aria-selected="false" tabindex="-1" data-search-tab data-type="villas" data-available="2023" data-price="18,500,000">Villas</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-offices" aria-controls="search-tabs-panel" aria-selected="false" tabindex="-1" data-search-tab data-type="offices" data-available="2026" data-price="9,200,000">Offices</button>
    </div>
    <form class="tabs-panel" data-search-panel>
        <div class="tabs-fields" role="tabpanel" id="search-tabs-panel" aria-labelledby="search-tabs-tab-all">
            <div class="tab-field">
                <span class="tab-field-label">Available</span>
                <button type="button" class="tab-selector" data-search-available aria-haspopup="listbox" aria-expanded="false">
                    <span class="tab-selector-value" data-search-available-text>2026</span>
                </button>
            </div>
            <div class="tab-divider" aria-hidden="true"></div>
            <div class="tab-field">
                <span class="tab-field-label">Max price, AED</span>
                <button type="button" class="tab-selector" data-search-price aria-haspopup="listbox" aria-expanded="false">
                    <span class="tab-selector-value" data-search-price-text>8,000,000</span>
                </button>
            </div>
            @@include('components/ui/button/button.html', {"class": "orange xl submit", "text": "Search", "src": "/img/search.svg", "alt": "Search"})
        </div>
        <input type="hidden" name="category" value="all" data-search-type>
    </form>
</div>
