@use '../../../vars/vars.scss' as v;

%button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	transition: opacity ease v.$tr, background-color ease v.$tr, color ease v.$tr, transform ease-in-out v.$tr,
				scale ease-in-out v.$tr;
	cursor: pointer;
}

#backtotop.shows {
	background: v.$c-yellow;
	color: v.$c-black;
}