@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/labels' as l;
@use '../../../../scss/mixins/typography/text' as p;

.categories {
	width: 100%;
	background-color: v.$c-white;
	padding: 40px 0;

	@media(min-width: v.$lg) {
		padding: 64px 0;
	}

	&-cards {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		@media(min-width: v.$lg) {
			gap: 40px;
		}
	}

	.category-card {
		position: relative;
		width: calc(100% / 2 - 10px);
		height: 200px;
		padding: 24px 10px;
		z-index: 1;

		@media(min-width: v.$md) {
			width: calc(100% / 4 - 15px);
			padding: 24px;
		}

		@media(min-width: v.$lg) {
			width: calc(100% / 4 - 30px);
			height: 270px;
			padding: 32px;
		}

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-top-right-radius: v.$br30;
			z-index: -1;
		}

		&-desc {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 4px;

			h3 {
				color: v.$c-black;
				text-align: center;

				@include l.t-label;
			}

			p {
				color: v.$c-black;
				text-align: center;

				@include p.t-text;
			}
		}
	}
}