@use '../vars/vars' as v;

.container {
	width: 100%;
	max-width: v.$max-width;
	padding: 0 v.$container-padding;
	margin: 0 auto;

	&-fluid {
		width: 100%;
		max-width: 100%;
		padding: 0 v.$container-padding
	}

	&.no-padding {
		padding: 0;
	}
}

main .container,
footer .container {
	display: block;
}

main .container p {
	margin-bottom: 0;
}